<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Seats</title>
</head>
<body>

<h2>Select Seats for Screening</h2>

<form th:action="@{/seats/choose}" method="post" th:object="${reservationData}">
    <input type="hidden" name="screeningId" th:value="${reservationData.screeningId}">

    Available seats:
    <div th:each="seat : ${availableSeats}">
        <input type="checkbox" th:id="${seat.id}" th:value="${seat.id}" th:field="*{seats}" />
        <label th:text="'seat ' + ${seat.id} + ' (row' + ${seat.row} + ', number ' + ${seat.seatNumber} + ')'"></label>
    </div>

    <br>

    <button type="submit">
        Choose seats
    </button>
</form>

</body>
</html>
