<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinema app</title>
</head>
<body>
    <h1>Movies list</h1>

    <a href="/">To homepage</a>

    <table border="1">
        <tr>
            <th>Movie Title</th>
            <th>Length</th>
            <th>Director</th>
            <th>Genre</th>
            <th>Release date</th>
        </tr>

        <tr th:each="movie : ${movies}">
            <td>
                <a th:href="@{/movies/{id}(id=${movie.id})}" th:text="${movie.title}"></a>
            </td>
            <td th:text="${movie.length} + ' minutes'" ></td>
            <td th:text="${movie.director}"></td>
            <td th:text="${movie.genre}"></td>
            <td th:text="${movie.releaseDate}"></td>
        </tr>
    </table>
</body>
</html>