<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinema app</title>
</head>
<body>
    <h1>Reservation number
        <span th:text="${reservation.id}"></span>
    </h1>

    <h4>Date</h4>
    <p th:text="${reservation.screening.date}"></p>
    <p th:text="${reservation.screening.startHour}"></p>

    <h4>Movie</h4>
    <p th:text="${reservation.screening.movie.title}"></p>
    <h4>Movie length</h4>
    <p th:text="${reservation.screening.movie.minutesLength} + ' minutes'"></p>

    <h4>Seats</h4>
    <div th:each="seat : ${reservation.seats}">
        <p th:text="'seat ' + ${seat.id} + ' (row' + ${seat.row} + ', number ' + ${seat.seatNumber} + ')'"></p>
    </div>
</body>
</html>